<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeVices">
        <activity
            android:name=".views.ui.NewMainActivity"
            android:exported="true"
            android:label="@string/title_activity_new_main"
            android:theme="@style/Theme.FreeVices">
        </activity>
        <activity
            android:name=".views.ui.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.ui.HistoryActivity"
            android:exported="false"/>
        <activity
            android:name=".views.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.AboutActivity"
            android:exported="false" />
        <activity android:name=".views.ui.settings.NewHistorySettingsActivity"
            android:exported="false" />
        <activity android:name=".views.ui.settings.NewAppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.ui.settings.NewUserSettingsActivity"
            android:exported="false" />
    </application>

</manifest>